*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow Bold', sans-serif;
    text-transform: capitalize;
    line-height: 1.5;
}
body{
    height: 100%;
    width: 99%;
    justify-content: center;
    align-items: center;
    background-color:  rgb(245, 221, 221);
    margin: auto;

}
#contact{
display: inline-block;
margin-bottom: 10px;
}
#logos{
    margin-left: 30px;
    display: inline-block;
    margin-top:18px ;
    
}
.logos{
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 60% ;
    margin-left: 4px;
}
.logos:hover{
transforme:scale(1.30);
   
}
#fb{
    border: blue solid 3px;
}
#yt{
    border: red solid 3px;
}
#tw{
    border: rgb(0, 191, 255) solid 3px;
}
#inst{
    border: rgb(203, 25, 239) solid 3px;
}

.slider{
    position:relative;
    width:75%;
    overflow: hidden;
    margin: auto;

    
    
}
.images{
    margin: auto;
    display: flex;
    width:100%;
}

.images img{
    margin: 0;

    height: 600px;
    width: 100%;
    transition: all 1s ease;
}   
.images input {
    display: none;
}
.dots{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label {
    height: 25px ;
    width: 25px;
    border-radius: 50%;
    border: solid rgb(58, 138, 192) 3px;
    transition: all 1s ease;
    margin: 10px;
    
}
.dots label:hover{
    background-color: rgb(25, 0, 214);
}
#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left: -300%;
}
#img5:checked ~ .m5 {
    margin-left: -400%;
}

nav ul li {
    list-style:none;
    display: inline-block;
    padding: 30px;
    
}
video{
    height: 1000px;
    width: 50%;
    margin-left: 10px;

}
header{
    justify-content: space-between;
    display: flex;
    background-color: rgb(245, 221, 221);
}
nav ul li a{
    text-decoration: none;
    font-size: 30px;
    color: rgb(177, 24, 24);
}
main{
    background-color: rgb(173, 194, 214);
    padding-top: 20px;
    padding-bottom: 0px;
}
.flag{
    height: 70px;
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 2px;
}
.flag:hover{
    opacity: 0.4;
    transition: 0.8s;
}
#title{
    height: 100px;
    width: 30%;
}
#title:hover{
    opacity: 0.55;
    transition: 0.5s;
}

footer{
    background-color: rgb(243, 196, 196);
    height: 67px;

}
nav ul li a:hover{
    color: rgb(246, 246, 215);
    transition: 0.5s;
    background-color: rgb(246, 117, 105);
    border-radius: 30% 20%;
    padding: 10px;
}
h2{
    font-size: 30px;
    color: red;
    text-transform: capitalize;
    text-shadow: rgb(249, 71, 0) 5px 5px 5px;
    padding: 10px;
}
.p{
    text-indent: 20px;
    font-size: 20px;
    color: aliceblue;
    
}
span{
    color: green;
    
}
.pre{
    text-align: center;
    padding: 2px;
  
}
footer ul li a {
    text-decoration: none;
    text-align: center;
    margin: auto;
    color: blueviolet;
    font-size: 18px;
    
}
footer ul li {
    list-style: none;
    text-align: center;
    display: inline-block;
    padding: 20px;
    margin: auto;
}
#end{
    text-align: center;
}
footer ul li a:hover{
    color: rgb(0, 39, 103);
    transition: 0.5s;
    text-decoration: underline solid rgb(0, 39, 103);
    
}
section{
    background: linear-gradient(to right , rgb(129, 161, 234) , rgb(170, 72, 72));
    
}
p{
    padding-left: 10%;
    padding-right: 10%;
    line-height: 2;
}
.p{
    font-size: 15px;
   margin-left: -10%;

}
h1{
    font-size: 50px;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: brown;
  
}
#v{
    font-size: 50px;
    padding-left: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(165, 42, 118);
    text-align: center;
    padding-right: 100px;
    text-transform: uppercase;
    text-decoration: underline dashed  rgb(165, 42, 118) ;
}
i{
    color: rgb(101, 116, 116);
}
#aboutimg{
    height: 200px;
    width: 85%;
    display: flex;
    margin: auto;
}
#carstitle{
    height: 400px;
    width: 95%;
    display: flex;
    margin: auto;
}

.car{
    width: 250px;
    height: 200px;
    display: inline-block;
   float: right;
   padding: 12px;
 
 
}
.cars{
    display: inline-block;
 
  
}
.features{
    color: red;
}
.feat{
    color: rgb(96, 96, 233);
}
#cars{
    text-align: center;
    margin: auto;
}


label{
    display: inline-block;
    padding-left: -2%;
    text-align: center;
    color: rgb(163, 194, 245);
}
.len{
    width: 200px;
    text-align: center;
   
}
#fieldset{
    line-height: 3;
    border:none;
    padding: 20px;
}
legend{
    font-size: 30px;
    margin-left: 2%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    color: rgb(166, 0, 0);
}
#theend{
    text-align: center;
    margin-top: 20px;
    line-height: 3;
    border: none;
    padding: 20px; 

}
#ok{
    font-size: 20px;
}
#no{
    font-size: 20px;
}
#main{
    background-image: url(files/contactpic.png);
    background-size: 100%;
}
#main1{
    justify-content: space-between;
    display: flex;
  
   
}

section{
  width: 50%;
}
aside{
   
}
iframe{
width: 50%;
}
#koussay{
    float: right;
    font-size: 10px;
color: rgb(63, 94, 134);

}
